<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MailSystem.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Qt Preprocess.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4416143EE6503994511D949A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E0C39E2656CD2FCE7683897</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CC50E73FEADCBDCDA80354F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C00B60F5C268E05FF32A9A48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
